<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User</title>

<link rel="stylesheet" href="../public/Stylesheets.style.css">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">

<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>