<header class="p-3 mb-3 border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="/public/Images/logo.jpg" alt="" width="50px" class="rounded-circle">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0">
          <li class="nav-item ms-3"><a href="/user/" class="nav-link text-dark">Home</a></li>
        </ul>

        <ul class="nav col-12 col-lg-auto me-lg-3 mb-2 justify-content-end mb-md-0">
          <li class="nav-item ms-3"><a href="/user/cart" class="nav-link text-dark btn btn-warning">Cart</a></li>
        </ul>
        
      
        
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/user/orders">Orders</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/user/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>